@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600;
}
html {
  background-color: rgb(19, 20, 26);
}
body {
  overscroll-behavior: none;
  -ms-overflow-style: none;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor:none;
  background-color: rgb(19, 20, 26);
  overflow-x: hidden;
}


/* Founders Grotesk */
@font-face {
  font-family: 'Helvetica Neue';
  src:  url('../fonts/HelveticaNeue.woff') format('woff');
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src:  url('../fonts/HelveticaNeueLight.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

/* Sohne */
@font-face {
  font-family: 'Saol Display';
  src:  url('../fonts/SaolDisplay-Light.woff') format('woff'),
        url('../fonts/SaolDisplay-Light.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Saol Display';
  src:  url('../fonts/SaolDisplay-LightItalic.woff') format('woff'),
        url('../fonts/SaolDisplay-LightItalic.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Saol Display';
  src:  url('../fonts/SaolDisplay-Medium.woff') format('woff'),
        url('../fonts/SaolDisplay-Medium.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Saol Display';
  src:  url('../fonts/SaolDisplay-Regular.woff') format('woff'),
        url('../fonts/SaolDisplay-Regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

@tailwind components;
@tailwind utilities;





html {
  scroll-snap-type: y mandatory;
}


